/node_modules/
/build/
.env
.vscode
.idea
emails
.github
.pre-commit-config.yaml
_typos.toml
.hadolint.yaml
renovate.json
CHANGELOG.md
.vscode
resources
.example.env
compose.prod.yaml
compose.local.yaml
compose.yaml
Makefile
README.md
.dockerignore
docker-bake.hcl
/data/
